@media (min-width: 640px) {
    .left_unset::before {
        left: unset !important;
    }
    .left_unset::after {
        left: unset !important;
    }
}
@media (min-width: 768px) {
    .position_unset {
        position: unset !important;
    }
}
