@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text_border_one {
    -webkit-text-stroke-color: #010101 !important;
    -webkit-text-stroke-width: 1px !important;
}
.text_border_half {
    -webkit-text-stroke-color: #000000 !important;
    -webkit-text-stroke-width: 0.5px !important;
}
.text_border_half_orange {
    -webkit-text-stroke-color: #f2bd64 !important;
    -webkit-text-stroke-width: 0.5px !important;
}
html {
    @apply scroll-smooth;
}
::-webkit-scrollbar {
   @apply w-1.5 
}
::-webkit-scrollbar-thumb{
    @apply bg-skyBlue rounded-xl
}
.common_heading {
    @apply font-indieFlower font-normal text-3xl md:text-4xl lg:text-5xl text-center !leading-lh131;
}
